<a href="https://colab.research.google.com/github/rosemarythomas994/pandaslearning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number5
enter a number6
11

  pands is a python library

  pandas is a pyhton library used for working wth data sets

  it has functions for analysing, cleaning, exploring, and manipulatinf data.

**Pandas Installation**

 pip install pandas

 TWO METHODS:

**1. Series()**

**2. Dataframe()**

**Series**

A pandas Series is like a column in a table

it is a one- dimensional array holding data of any type.

In [2]:
import pandas as pd
a = [10,70,12,30]
myvar = pd.Series(a)
print(myvar)

0    10
1    70
2    12
3    30
dtype: int64

**Labels**

If nothing else is specified, the values are labeled with their index number. first value has index 0, second value has index 1., etc.

This label can be used to access a specified value.

In [3]:
#Return the first value of the Series:
print(myvar[2])

12

**Create Labels ** With the **Index** arguments, you can name you own labels.

In [4]:
a= [10,70,12,30]
myvar = pd.Series(a, index = ["a","b","c","d"])
print(myvar)

a    10
b    70
c    12
d    30
dtype: int64

In [5]:
# Return the value of "y":
print(myvar["b"])

70

### **Key/values objects as Series**

In [6]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
myvar["day2"]

380

The key of the dictionary become the labels.

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories,index =["day1","day2"])
print(myvar)

day1    420
day2    380
dtype: int64

## **DataFrame**

A pandas DataFrame is a 2 dimentional data structure, like a 2 dimentional array, or a table with rows and columns

In [9]:
data ={
    "prince": [420,380,390],
    "kg":[50,40,45]
}
#Load data into a Dataframe object
df = pd.DataFrame(data)
print(df)

   prince  kg
0     420  50
1     380  40
2     390  45